* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --theme-black: #333333;
    --theme-white: white;
    --theme-teal: #51cbce;
    --theme-red: #C52233;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Agbalumo';
    src: url(../fonts/Agbalumo-Regular.ttf);
}

a {
    color: var(--theme-black)
}

a:visited {
    color: var(--theme-teal)
}

body {
    display: flex;
    flex-direction: column;
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #333333
}

footer,
header {
    background-color: var(--theme-black);
    color: var(--theme-white);
    text-align: center;
}

header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px 0;
    gap: 20px
}

header ul {
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
}

h1 {
    font-family: 'Agbalumo','Courier New', Courier, monospace;
    font-size: 3em;
}

h2 {
    font-family: 'Agbalumo','Courier New', Courier, monospace;
    font-size: 2em;
}

h3 {
    font-family: 'Agbalumo','Courier New', Courier, monospace;
    font-size: 1.5em;
}

img {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
}

section {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px   
}

ul {
    display: flex;
}

p {
    padding-bottom: 10px 0;
}


a > img {
    width: 100%;
    max-width: 50px;
    max-height: 50px;
}

.card {
    .img-container {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
    }

    .img-container img {
        border-radius: 15px 15px 0 0;
    }
    
    .desc {
        padding: 20px
    }

    .tray {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 5px
    }

    .tray h3 {
        margin-right: auto;
    }

    .tray a img {
        max-width: 30px;
        filter: invert(0.2);
        display: flex;
    }

    border-radius: 15px;
    border: solid 1px #ddd;
}

.contact ul {
    justify-content: space-evenly;
    padding: 20px;
}

.projects ul {
    flex-direction: column;
    gap: 20px
}

.skills ul {
    flex-direction: column;
    gap: 10px
}

.social-link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-link a img {
    filter: invert(0.2);
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer > a > img {
    filter: invert(1);
}

@media screen and (min-width:700px) and (max-width: 1080px) {
    header {
        min-height: 30%;
    }
    
    .projects {
        max-width: 600px;
        align-self: center;
    }
}

@media screen and (min-width:1080px) {
    header {
        min-height: 30%;
    }

    main {
        max-width: 1080px;
        align-self: center;
    }

    .projects ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

header span {
    content: " ";
    width: 70%;
    max-width: 350px;
    height: 3px;
    background-color: var(--theme-teal);
    animation: underline 2s
}

/* animations */

@keyframes underline {
    0% {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes cardanimation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@media (prefers-reduced-motion: no-preference) {
    .img-animation {
      animation: cardanimation 1s 1;
    }
  }
