<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Page - Vanessa Tan Cardoso</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Vanessa Tan Cardoso</h1>
        <ul>
            <li>backend developer</li>
            <li>software engineer</li>
        </ul>
    </header>
    <main>
        <section class="about">
            <h2>About Me</h2>
            <p>
                Welcome stranger! I am a software developer from the Philippines.
                The truth is I like things that don't really pop out. Even when I was
                still an engineer, I specialized on foundations. Now, I like learning
                about backend development. 
            </p> 
            <p>
                However, any good backend engineer knows that frontend matters. It's
                the building supported by the foundations and the one that occupants actually
                interact with. That's why I'm here learning from The Odin Project.
            </p>
        </section>
        <section class="projects">
            <h2>Projects</h2>
            <ul>
                <div class="card">
                    <div class="img-container">
                        <img src="../static/images/cattoviz.png" alt="cattoviz-screenshot">
                    </div>
                    <div class="tray">
                        <h3>Cattoviz</h3>
                        <a href="https://github.com/vanessapigwin/cattoviz" class="repo" aria-label="Repo Link">
                            <img src="../static/images/link.svg" alt="link-icon">
                        </a>
                        <a href="https://cattoviz.com/" class="live" aria-label="Live Link">
                            <img src="../static/images/code.svg" alt="code-icon">
                        </a>
                    </div>
                    <p class="desc">A blog that uses python (flask) to serve pre-made templates used for devops and CI/CD practice</p>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../static/images/weatherapp.png" alt="weather-app-screenshot">
                    </div>
                    <div class="tray">
                        <h3>Weather App</h3>
                        <a href="https://github.com/vanessapigwin/weather-app-top" class="repo" aria-label="Repo Link">
                            <img src="../static/images/link.svg" alt="link-icon">
                        </a>
                        <a href="https://vanessapigwin.github.io/weather-app-top/" class="live" aria-label="Live Link">
                            <img src="../static//images/code.svg" alt="code-icon">
                        </a>
                    </div>
                    <p class="desc">A simple weather app from The Odin Project and The Weather API.</p>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../static/images/library.png" alt="library-screenshot">
                    </div>
                    <div class="tray">
                        <h3>Library App</h3>
                        <a href="https://github.com/vanessapigwin/top-library" class="repo" aria-label="Repo Link">
                            <img src="../static/images/link.svg" alt="link-icon">
                        </a>
                        <a href="https://vanessapigwin.github.io/top-library/" class="live" aria-label="Live Link">
                            <img src="../static//images/code.svg" alt="code-icon">
                        </a>
                    </div>
                    <p class="desc">A game library CRUD UI from The Odin Project</p>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../static/images/api.png" alt="django-api-screenshot">
                    </div>
                    <div class="tray">
                        <h3>Resume API</h3>
                        <a href="https://github.com/vanessapigwin/my_drf_resume" class="repo" aria-label="Repo Link">
                            <img src="../static/images/link.svg" alt="link-icon">
                        </a>
                        <a href="https://resumeapi.cattoviz.com/api/" class="live" aria-label="Live Link">
                            <img src="../static//images/code.svg" alt="code-icon">
                        </a>
                    </div>
                    <p class="desc">Quick Django REST API, but just my resume on a self-hosted PostgreSQL</p>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../static/images/restaurant.png" alt="restaurant-screenshot">
                    </div>
                    <div class="tray">
                        <h3>Steve's Cottage</h3>
                        <a href="https://github.com/vanessapigwin/top-restaurant-page" class="repo" aria-label="Repo Link">
                            <img src="../static/images/link.svg" alt="link-icon">
                        </a>
                        <a href="https://vanessapigwin.github.io/top-restaurant-page/" class="live" aria-label="Live Link">
                            <img src="../static//images/code.svg" alt="code-icon">
                        </a>
                    </div>
                    <p class="desc">Minecraft Steve's retirement restaurant page for The Odin Project</p>
                </div>
            </ul>
        </section>
        <section class="skills">
            <h2>My Skills</h2>
            <ul>
                <li>Web Development</li>
                <li>Deployment and Testing</li>
                <li>Data Engineering</li>
                <li>Dashboard Development</li>
            </ul>
        </section>
        <section class="contact">
            <h2>My Socials</h2>
            <p>
                I am currently not looking for work opportunities, but you can reach out to
                me for questions, collaborations, and other curiosities.
            </p>
            <ul>
                <li class="social-link">
                    <a href="https://ph.linkedin.com/in/vanessa-rica-tan-cardoso-402630131">
                        <img src="../static/images/linkedin.svg" alt="linkedin-icon">
                        <span>LinkedIn</span>
                    </a>
                </li>
                <li class="social-link">
                    <a href="https://github.com/vanessapigwin/">
                        <img src="../static/images/github.svg" alt="gh-icon">
                        <span>Github</span>
                    </a>
                </li>
                <li class="social-link">
                    <a href="https://www.youtube.com/watch?v=ydmPh4MXT3g">
                        <img src="../static/images/facebook.svg" alt="fb-icon">
                        <span>Facebook</span>
                    </a>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <a href="https://github.com/vanessapigwin/homepage-top" aria-label="Page Repository Link">
            <span>vanessapigwin</span>
            <img src="../static/images/github.svg" alt="gh-icon">
        </a>
    </footer>
</body>
</html>